.blink {
  animation: blinkAnim 2s ease-in-out infinite;
}

.count {
	width: 8rem;
}

.title {
	color: var(--color-text-soft);
}

.loading * {
  opacity: 0;
}

@keyframes blinkAnim {
	0% {opacity: 0.1}
	50%{opacity: 1}
	100% {opacity: 0.1}
}